.publicidad-section {
  width: 100vw; 
  position: relative; 
  overflow: hidden; 
  min-height: 100px; 
}

.publicidad-gif {
  width: 100%; 
  height: auto; 
  display: block; 
  object-fit: cover; 
}

@media (max-width: 991px) {
  .publicidad-section {
    min-height: 150px; 
  }
}

@media (max-width: 576px) {
  .publicidad-section {
    min-height: 100px; 
  }  
}